body {
    text-align: center;

    background-color: #EEEEEE;
}

#canvas-container {
    margin-left: auto;
    margin-right: auto;
}

#canvas {
    border-bottom-color: black;
    border-style: solid;
    border-width: 1px;

    background-color: #FFFFFF;

    cursor: crosshair;
}


#about {
    margin-top: 50px;
    text-align: center;
}