body {
    text-align: center;

    background-color: #f4ead9;
}

#canvas-container {
    margin-left: auto;
    margin-right: auto;
}

#canvas {
    border-color: #f49d00;
    border-style: solid;
    border-width: 3px;

    background-color: #ffffff;

    cursor: crosshair;
}


#about {
    margin-top: 30px;
    text-align: center;
}

#myself {
    margin-top: 30px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

#myself img {
    width: 40px;
    vertical-align: bottom;
}

#logo {
    position: absolute;
    left: 15px;
    top: 15px;
}

#logo img {
    width: 300px;
}